:root {
    --venuse-bkg-col: rgb(2, 9, 29);
    --venuse-shadow: rgba(2,9,29, .5);
    --venuse-color: cadetblue;
    --venuse-ltcolor: rgb(190, 190, 255);
    /* --venuse-color : lightsalmon; */
    --venuse-div-paper: white;
    --venuse-font: "Yanone Kaffeesatz", sans-serif;
    --venuse-alert: rgb(127, 76, 207);

}
body {
    background-color: var(--venuse-div-paper);
    font-family: var(--venuse-font);
    font-size: 20px;
    padding-top: 40px;
}
.brand {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 10px 0px 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    font-size: 30px;    
}

h3 {
    text-align: center;
    font-size: 20px;
}

.index {
    box-sizing: border-box;
    color: var(--venuse-bkg-col);
    display: block;
    width: 100%;
}

.info {
    text-align: center;
    margin: 10px;
}

.invisible {
    position: absolute;
    color: var(--venuse-div-paper);
    font-size: 0px;
    padding: 0px;
    margin: 0px;
}

.login-register {
    background-color: var(--venuse-div-paper);
    /* border: 2px solid var(--venuse-div-paper); */
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    margin: auto;
    max-width: 500px;
    min-width: 300px;
    padding: 5px;
}
.login-register h2 {
    text-align: center;
}


.nav_bar {
    background-color: var(--venuse-color);
    box-sizing: border-box;
    display: block;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav_bar a {
    color: black;
    text-decoration: none;
}
.nav_bar a:hover, #user_name:hover {
    cursor: pointer;
    color: var(--venuse-ltcolor);
    text-shadow: -1px -1px 2px black, 1px 1px 2px black;
}
.nav_bar ul {
    margin-top: 10px;
    padding: 0px 10px;
}
.right_nav {
    display: block;
    float: right;
}
.left_nav {
    display: block;
    float: left;
}

#profile_menu {
    background-color: var(--venuse-color);
    border-bottom-left-radius: 5px;
    /* border-top-left-radius: 0px;
    border-top-right-radius: 0px; */
    box-sizing: border-box;
    display: block;
    float: right;
    height: 0px;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 41px;
    right: 0px;
    transition: height 0.25s;
    width: 100px;
    box-shadow: -2px 2px 3px var(--venuse-shadow);
}
#profile_menu.show_menu {
    height: 100px;
    padding: 5px;
}
#profile_menu ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 3px;
}
#profile_menu.hide_menu {
    display: none;
}
#profile_menu :is(a, a:visited) {
    color: black;
    text-decoration: none;
}
#profile_menu a:hover {
    color: var(--venuse-ltcolor);
    text-shadow: -1px -1px 2px black, 1px 1px 2px black;
}
.manage {
    background-color: var(--venuse-div-paper);
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 95%;
}
.hide {
    display: none;
}
.show {
    display: block;
}

[class$="_venues"] {
    background-color: var(--venuse-div-paper);
    border-radius: 8px;
    box-sizing: border-box;
    color: black;
    display: block;
    margin: 5px auto;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.user_venues a {
    text-decoration: none;
    color: black;
}
.user_venues a:hover {
    color: black;
}

.ven-alert {
    font-size:larger;
    color: var(--venuse-alert);
    margin: 10px;
    text-align: center;
}

[class^="ven-btn"] {
    font-family: var(--venuse-font);
    font-size:large;
    border-radius: 10px;
    border: none;
    /* border: 1px solid var(--venuse-color); */
    background-color: var(--venuse-div-paper);
    box-shadow: 0 0 1px  var(--venuse-color);
    padding: 10px;
    cursor: pointer;
}


.ven-btn-sm {
    font-size: medium;
    padding: 8px;
}

@media (max-width:425px) {
    .ven-btn {
        font-size: larger;
        width: 100%;
    }
}

[class^="ven-btn"]:hover {

    box-shadow: 0px 0px 4px var(--venuse-color); /*, -1px -1px 2px var(--venuse-color);*/
}

.ven-content {
    display: block;
    margin: auto;
    width: 100%;
}
.ven-nav-item {
    display: inline-block;
    padding: 5px;
}
.ven-form {
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding: 5px;
}
.ven-input {
    border-radius: 10px;
    border: 1px solid var(--venuse-color);
    box-sizing: border-box;
    margin: auto;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    font-family: var(--venuse-font);
}


.ven-input:focus {
    outline: none;
}


#venue_detail {
    overflow: auto;
    width: 95%;
}
.venue_detail_container {
    display: flex;
}
.venue_detail_main {
    display: inline-block;
    width: 40%;
}
.venue_detail_add {
}
.venue_detail_add_btn {
    background-color: var(--venuse-color);
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 5px;
}
.venue_detail_add_btn:hover {
    box-shadow: 0 1px 2px rgb(70, 69, 69);
    cursor: pointer;
}

[class^="venue_pod"] {
    display: inline-flex;
    font-size: 25px;
    width: 140px;
    min-height: 140px;
    border: 1px solid var(--venuse-shadow);
    border-radius: 8px;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}


.venue_pod_btn {
    /* color: var(--venuse-div-paper); */
    background-color: var(--venuse-color);
    border: none;
}

.venue_pod_btn :is(a, a:visited)  {
    color: var(--venuse-div-paper);
    text-shadow: -1px -1px 2px var(--venuse-shadow), 1px 1px 2px var(--venuse-shadow);
}

@media (min-width:800px) {
    [class^="venue_pod"] {
        width: 200px;
        min-height: 200px;
    }
}
.venue_room_detail {
    display: inline-block;
    width: 60%;
}
#add_room_form {
    max-height: 400px;
    overflow: hidden;

    /*  */
}
.column {
    display: flex;
    vertical-align: top;
    width: 40%;
}
#venue-container {
    background-color: var(--venuse-div-paper);
    display: block;
}

/* .user_venues a:visited {
    color: black;
} */
