:root {
    --venuse-color : lightsalmon;
    --venuse-bkg-col : rgb(29,9,2);
    --venuse-div-paper: white;
}

body {
    padding-top: 55px;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 20px;
    background-color: var(--venuse-bkg-col);
}

.ven-content {
    display: block;
    width: 100%;
    margin: auto;
}

.index {
    display: block;
    box-sizing: border-box;
    width: 100%;
    color: white;
}

.nav_bar {
    box-sizing: border-box;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--venuse-color);
    padding: 0;
    margin: 0;
}

.nav_bar a {
    text-decoration: none;
    color: black;
}

.nav_bar :is(a:hover, #user_name:hover) {
    cursor: pointer;
    text-shadow: -1px -1px 2px rgb(202, 83, 83), 1px 1px 2px rgb(202, 83, 83);
}

.nav_bar ul {
    margin-top: 10px;
    padding: 0px 10px;
}

.brand {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    padding: 0px;
    margin: 0px 10px 0px 0px;
}

.ven-nav-item {
    display: inline-block;
    padding: 5px;
}

.right_nav {
    display: block;
    float: right;
}

.left_nav {
    display: block;
    float: left;
}

.ven-form {
    display: block;
    box-sizing: border-box;

    margin: auto;
    padding: 5px;
}

.ven-input {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 6px;
    border-radius: 10px;
}

.ven-btn {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px lightgray;
}

.login-register {
    display: block;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--venuse-color);
    max-width: 500px;
    min-width: 300px;
    padding: 5px;
    margin: auto;
}
.login-register h2 {
    text-align: center;
}

.info {
    text-align: center;
}

[class$="_venues"] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    background-color: var(--venuse-div-paper);
    color: black;
    padding: 10px;
    margin: 5px auto;
}

#profile_menu {
    box-sizing: border-box;
    position: relative;
    top: -28px;
    float: right;
    display:block;
    overflow: hidden;
    width: 100px;
    height: 0px;
    padding: 0;
    background-color: var(--venuse-color);
    border-radius: 5px;
    transition: height .25s;
}

#profile_menu.show_menu {
    height: 100px;
    padding: 5px;
}


#profile_menu ul {
    display:none;
    list-style-type: none;
    margin: 0;
    padding: 3px;
}

#profile_menu.hide_menu {
    display:none;
}

#profile_menu :is(a, a:visited) {
    text-decoration: none;
    color: black;
}
#profile_menu a:hover {

    text-shadow: -1px -1px 2px rgb(202, 83, 83), 1px 1px 2px rgb(202, 83, 83);
}


.manage {
    display:block;
    width:95%;
    margin:10px auto;
    background-color: var(--venuse-div-paper);
    padding:5px;
    border-radius:5px;
}

.hide {
    display:none;
}

.show {
    display:block;
}
