<div id="avail_input">
    <table>
        <tr>
            <td/><td>Morning</td><td>Afternoon</td><td>Evening</td>
        </tr>
        <tr>
            <td>Monday</td><td><input type="checkbox" name="mon_4" checked=true></td>
            <td><input type="checkbox" name="mon_2" checked=true></td>
            <td><input type="checkbox" name="mon_1" ></td>
        </tr>
        <tr>
            <td>Tuesday</td><td><input type="checkbox" name="tue_4" checked=true></td>
            <td><input type="checkbox" name="tue_2" checked=true></td>
            <td><input type="checkbox" name="tue_1" ></td>
        </tr>
        <tr>
            <td>Wednesday</td><td><input type="checkbox" name="wed_4" checked=true></td>
            <td><input type="checkbox" name="wed_2" checked=true></td>
            <td><input type="checkbox" name="wed_1" ></td>
        </tr>
        <tr>
            <td>Thursday</td><td><input type="checkbox" name="thu_4" checked=true></td>
            <td><input type="checkbox" name="thu_2" checked=true></td>
            <td><input type="checkbox" name="thu_1" ></td>
        </tr>
        <tr>
            <td>Friday</td><td><input type="checkbox" name="fri_4" checked=true></td>
            <td><input type="checkbox" name="fri_2" checked=true></td>
            <td><input type="checkbox" name="fri_1" ></td>
        </tr>
        <tr>
            <td>Saturday</td><td><input type="checkbox" name="sat_4" checked=true></td>
            <td><input type="checkbox" name="sat_2" checked=true></td>
            <td><input type="checkbox" name="sat_1" ></td>
        </tr>
        <tr>
            <td>Sunday</td><td><input type="checkbox" name="sun_4" checked=true></td>
            <td><input type="checkbox" name="sun_2" checked=true></td>
            <td><input type="checkbox" name="sun_1" ></td>
        </tr>
    </table>
</div>