{% extends "VenUse/layout.html" %} {% block body %}
<div class="index">
    <header>
    <h1>Welcome {% if user.is_authenticated %} back to VenUse, {{ user.first_name }}{% else %} to VenUse{% endif %}</h1> 
    </header>
    {% if not user.is_authenticated %}
            <h3><a href="/login">Login here</a> to manage your VenUse or Bookings</h3>
    {% else %}
        <div class="user_venues">
            
            {% if not user_venues %}
                <section role="alert" class="ven-alert">
                    You currently have no venues - <a href="{% url 'manage_venue' 'add_venue' %}">click here</a> to add one. 
                </section> 
            {% else %}

                <section  class="venue_pod_btn" onclick='window.location.href="{% url 'manage_venue' %}";'>
                    Manage Venues
                </section>

                <section class="venue_pod" onclick='window.location.href="{% url 'user_bookings' %}";'>
                    View Bookings
                </section>

            {% endif %}
        </div>
    {% endif %}
    <div class="featured_venues">
        {% for venue in feat_venues %}
            <section class="venue_pod" onclick='window.location.href="{% url 'show_venue' venue.url %}";'>
                {{venue.name}}
            </section>
        {% endfor %}
    </div>
</div>
{% endblock %}
