{% extends "VenUse/layout.html" %}

{% block body %}
    {% if add_venue %}
    <div class="manage add_venue">
        <form id="add_venue_form" action='/add_venue' method="post"> 
            {% csrf_token %}
            <div class="ven-form">
                {{ven_form.name}}
            </div>
            <div class="ven-form">
                {{ven_form.url}}
            </div>
            <div class="ven-form">
                {{ven_form.description}}
            </div>
            
            <input type="submit" value="Register Venue"/>
        </form>
    </div>
    {% endif %}
    {% if venues %}
    <div>
        {% for venue in venues %}
            {{venue.name}}{{venue.description}}
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}