{% load static %}  

<link href="{% static 'VenUse/src/components/react.css' %}" rel="stylesheet">
<link href="{% static 'VenUse/src/components/Calendar/Calendar.css' %}" rel="stylesheet">

<script type="module" src="{% static 'VenUse/src/javascript/utils.js' %}"></script>

<!-- Development only! Add new React components to react.py list react_components -->
{% for component in react_components %}
  <script data-plugins="transform-es2015-modules-umd" type="text/babel" src="{% static 'VenUse/src/components/'|add:component|add:'/'|add:component|add:'.jsx' %}"></script>
{% endfor %}
<script data-plugins="transform-es2015-modules-umd" type="text/babel">
    import Venue from "{% static 'VenUse/src/components/Venue/Venue.jsx' %}";
    const venueAddress = {
      street1: "{{address.street1}}",
      street2: "{{address.street2}}",
      city: "{{address.city}}",
      state: "{{address.state}}",
      country: "{{address.country}}",
      zip: "{{address.zip_code}}"
    };
    const venue = {
      name: "{{venue.name}}",
      address: venueAddress,
      id: {{venue.id}},
      description: `{{venue.description}}`
    };

    ReactDOM.render(<Venue venue={venue} />, document.querySelector('#venue-container'));

</script>