{% extends "VenUse/layout.html" %}

{% block body %}
<div class='login-register'>

    <h2>Register</h2>

    {% if message %}
        <section role="alert" class="ven-alert">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="ven-form">
            <label for="username" class="invisible">Username</label>

            <input class="ven-input" autofocus autocomplete="off" type="text" name="username" placeholder="Username" id="username">
        </div>
        <div class="ven-form">
            <label for="fullname" class="invisible">Full Name</label>

            <input class="ven-input" autocomplete="off" type="text" name="fullname" placeholder="Full Name" id="fullname">
        </div>
        <div class="ven-form">
            <label for="email" class="invisible">E-mail</label>
            <input class="ven-input" type="email" name="email" placeholder="Email Address" id="email">
        </div>
        <div class="ven-form">
            <label for="password" class="invisible">Password</label>
            <input class="ven-input" type="password" name="password" placeholder="Password" id="password">
        </div>
        <div class="ven-form">
            <label for="confirm" class="invisible">Confirm Password</label>
            <input class="ven-input" type="password" name="confirmation" placeholder="Confirm Password" id="confirm">
        </div>
        <div class="ven-form">
            <input class="ven-btn" type="submit" value="Register">
        </div>
        <input type="hidden" name="next" value="{{next}}">

    </form>
    <footer class="info">
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </footer>
</div>
{% endblock %}