.VENUE_description {
    display: block;
    width:100%;
    margin: 10px;
}

.VENUE_rooms_container {
    display: block;
    margin: auto;
    padding:10px;
    text-align: center;
}



.VENUE_display_room {
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 3px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgb(34, 34, 34);
    width:400px;
    height:200px;
    text-align: left;
    vertical-align: top;
}

.VENUE_room_head {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 1px;
    font-size: 30px;
    height: 40px;
}

.VENUE_room_foot {
    display: block;
    box-sizing: border-box;
    margin: 0;
    
    padding: 1px;
    height: 40px;
}

.VENUE_room_body {
    display: block;
    box-sizing: border-box;
    padding: 1px;
    margin: 0;
    height: 100px;
}


.VENUE_title h1 {
    font-size: 50px;
    text-align: center;
    padding: 10px;
}


.VENUE_modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;    
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.6);
}

.VENUE_modal_content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    width: 40%;
    height: fit-content;
}

.VENUE_modal_title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.VENUE_close_modal {
    float: right;
    border: none;
    outline: none;
    background-color: white;
    /* box-shadow: 0 0 6px black; */
    cursor: pointer;
}

.AVAIL_header {
    font-size: 20px;
    text-align: center;
}
.AVAIL_calendar {
    margin: auto;
    width:fit-content;
}

[class^='AVAIL_day'] {
    display: inline-block;
    height: 70px;
    width: 60px;
    background-color : lightblue;
    margin: 3px;
    vertical-align: top;
}

.AVAIL_day_head {
    background-color: cadetblue;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 12px;
}
.AVAIL_day_no {
    width:100%;
    height:60%;
    margin:0;
    background-color : rgb(72, 84, 87);
}

.clicker {
    border: none;
    background: none;
    cursor: pointer;
}

.month_name {
    display:inline-block;
    width: 60px;
}

.show_year {
    display:inline-block;
    width: 40px;
}